.btn-custom {
    background-color: white;
    color: "#100033";
    margin-top: 10px;

    &:hover {
        background-color: lighten($color: #100033, $amount: 10);
        color: white;
    }
}

.mainSection {
    height: 80vh;
    text-align: center;
}

.audkenni {
    align-items: center;
    align-self: center;
    background-color: #100033;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 100px;
    width: 80%;
}

.idLabel {
    color: white; 
    font-weight: bold; 
    margin-bottom: 10px;
}

.idInput {
    margin: 0 10px;
}